<?xml version="1.0" encoding="UTF-8"?>
<manifest package="com.harissapplication.app" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" android:largeHeap="true"
        android:name="com.harissapplication.app.appcomponents.di.MyApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true" android:theme="@style/Theme.MyApp" android:usesCleartextTraffic="true">
        <activity
            android:name="com.harissapplication.app.modules.fanone.ui.FanoneActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.harissapplication.app.modules.setuptwo.ui.SetuptwoActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.harissapplication.app.modules.news.ui.NewsActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.harissapplication.app.modules.setupthree.ui.SetupthreeActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.harissapplication.app.modules.matchesone.ui.MatchesoneActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.harissapplication.app.modules.notifications.ui.NotificationsActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.harissapplication.app.modules.myleague.ui.MyleagueActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.harissapplication.app.modules.createprofile.ui.CreateprofileActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.harissapplication.app.modules.settings.ui.SettingsActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.harissapplication.app.modules.livegames.ui.LivegamesActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.harissapplication.app.modules.register.ui.RegisterActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.harissapplication.app.modules.editprofile.ui.EditprofileActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.harissapplication.app.modules.role.ui.RoleActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.harissapplication.app.modules.favsport.ui.FavsportActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.harissapplication.app.modules.setupone.ui.SetuponeActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.harissapplication.app.modules.myteams.ui.MyteamsActivity" android:screenOrientation="portrait"/>
        <activity android:exported="true"
            android:name="com.harissapplication.app.modules.login.ui.LoginActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
